.container{
    text-align :center;
    margin-top: 23px;
}
table{
    margin: auto;
} 
input{
    font-size: 34px;
    border: 15px solid cadetblue;
    border-radius: 70px;
}
button{
    font-size: 40px;
    background-color: cadetblue;
    width: 100px;
    height: 57px;
    border-radius: 70px;
}
.calculator{
       background-color: black;
     padding: 23px;
     border-radius: 53px;
    display: inline-block;
}